html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(45.00deg, rgb(255, 63, 58), rgb(247, 94, 5) 100%);
  white-space: nowrap;
  transition: .3s;
}

.button:hover {
  transform: scale(1.05);
}

.button--empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(right, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(right, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {}

.heading {
  color: #1E212C;
}

.heading__subtitle {
  line-height: 150%;
  margin-bottom: 8px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
}

.heading__title {
  margin-bottom: 48px;
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 0%;
}



/* =================================================================== */
/* ======================HEADER__TOP================================== */
.header {
  font-weight: 700;
  background: url("../images/decor/header-shapes.svg") 50% 50% / cover no-repeat, linear-gradient(45.00deg, rgba(255, 63, 58, .2), rgba(247, 94, 5, .2));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-top {}

.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  margin-right: 60px;
}


.header__nav {
  margin-right: auto;

}

.header__nav-list {
  display: flex;
}


.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  line-height: 160%;
  white-space: nowrap;
  transition: .3s;
}

.header__nav-link:hover {
  color: #FF3F3A;

}


.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 36px;
}


.header__user-nav {
  white-space: nowrap;
  position: relative;
  padding-left: 28px;

}

.header__user-nav::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: url("/images/icons/person-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.header__user-btn:hover {
  color: #FF3F3A;
  transition: .3s;
}

.header__user-btn {
  white-space: nowrap;
}

/* =======================HEADER__BODY================================ */
/* =======================HEADER__BODY================================ */

.header-body {
  flex-grow: 1;
}

.header-body__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;

}

.header__play svg {
  margin-right: 16px;
  transition: .3s;
  border-radius: 50%;
}

.header__play svg:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}



.header__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn {
  margin-right: 24px;

}

.header__content-btn:last-child {
  margin-right: 0px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 46px 68px 16px;
}

.header__row>span {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
  margin: 0px 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
  color: #1E212C;
}

.header__row-item span {
  font-size: 46px;
  font-weight: 900;
  padding-right: 12px;
}


/* =======ABOUT=================== */
/* =======ABOUT=================== */

.about {}

.about__inner {}

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.about__createx-content {
  max-width: 600px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}



.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.about__btn-box {
  display: flex;
}

.about__btn {
  margin-right: 24px;
}

.about__btn:last-child {
  margin-right: 0px;
}

.button {}

.button--empty {}

.about__img {}

.about__values {}